{% import "macros.html.twig" as macros %}
{% extends 'base.html.twig' %}

{% set lastGame = games|first %}
{% block twitter_card_type 'summary_large_image' %}
{% block twitter_image absolute_url(asset((lastGame.twitterImage ?? lastGame.cover)|glide_image_preset('twitter_card_image'))) %}
{% block og_image asset((lastGame.ogImage ?? lastGame.cover)|glide_image_preset('opengraph_image')) %}

{% set pageClasses = 'page_games' %}

{% block layout %}
    {{ include('layout/main_nav.html.twig') }}

    {% apply spaceless %}
        <nav class="secondary navbar-items navbar-items--fixed navbar-items--right">
            <a href="{{ path('about') }}" class="item" title="About">
                <i class="icon icon-question"></i>
            </a>
            <button
                type="button"
                title="Fullscreen"
                class="item btn-fullscreen-toggle"
                {{ stimulus_controller('fullscreen') }}
            >
                <i class="icon icon-fullscreen-toggle"></i>
            </button>
        </nav>
    {% endapply %}

    {% for game in games %}
        <article class="game" style="{{ macros.backgroundImageSrcset(game.cover, 'game_list_cover') }}">
            <header>
                <a href="{{ path('game', { game: game.slug }) }}">
                    <h2>{{ '%s (%s)'|format(game.title, game.parutionDate|date('Y')) }}</h2>
                </a>
            </header>
        </article>
    {% endfor %}
{% endblock %}
